{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
		{% block css_files %}{% endblock %}
		<title> {%block title %} {% endblock %} | BlogApp </title>
	</head>
	<body>
			<ul>
				<li> <a href="/"> Home </a></li>
				<li> <a href="/blogs"> Blogs </a></li>
			</ul>
			{% block content %}
			
			{% endblock %}
	</body>
</html>